{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Page not found{% endblock %}

{% block content %}
<div id="app" class="h-100">
  <div class='dashboard-container'>
    {% include 'frontend/sidebar.html' %}
    
    <div class="text-center m-0 mt-70 mt-xxl-0">
        <div>
        <img src="{% static 'img/pug1.png' %}" style="max-width: 400px; margin: 0 auto;width:50%;">
        <br>
        <a href="/" style="background-color: #52628a;" class="btn btn-primary text-white">Sorry, we can't find this page. Please return to the homepage.</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
