{% load static %}
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}EthStakers.club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{{ currency_name_full }} block explorer, Beacon chain explorer, {{ currency_name_full }} validator monitoring, staking, {{ currency_name_full }} blockchain explorer" />
    <meta name="description" content="Explore {{ currency_name_full }} Beacon Chain data, monitor validators, and track staking activity on EthStakers Club." />
    <meta property="og:title" content="{% block meta_title %}{% endblock %}EthStakers Club - {{ currency_name_full }} Beacon Chain Explorer and Validator Monitoring" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo_bg.png' %}" />
    <meta property="og:description" content="Explore {{ currency_name_full }} Beacon Chain data, monitor validators, and track staking activity on EthStakers Club." />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:site_name" content="EthStakers Club" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@EthstakersClub" />
    <meta name="twitter:title" content="{% block meta_title_twitter %}{% endblock %}EthStakers Club - {{ currency_name_full }} Beacon Chain Explorer and Validator Monitoring" />
    <meta property="twitter:description" content="Explore {{ currency_name_full }} Beacon Chain data, monitor validators, and track staking activity on EthStakers Club." />
    <meta property="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/logo_bg.png' %}" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#111a2e">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon//ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#111a2e">

    <script>
        // Prevent install popup and enable custom install button
        var deferredPrompt = null;
        window.addEventListener('beforeinstallprompt', (e) => {
            e.preventDefault();
            deferredPrompt = e;
            const installApp = document.getElementById('installApp');
            installApp.classList.remove("hidden");
        });
    </script>

    {% progressive_web_app_meta %}

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @media only screen and (max-width: 1280px) {
            .sidebar {
              position: fixed;
              top: 0;
              transform: translateX(-100%);
            }
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body style="height: 100% !important;">
{% include 'frontend/header.html' %}
{% block content %}{% endblock %}

<script src="{% static 'js/vendor/chart.js' %}"></script>
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/utility.js' %}?{{ VERSION }}"></script>
<script src="{% static 'js/vendor/bootstrap_4_6_2.bundle.min..js' %}"></script>
<script src="{% static 'js/vendor/axios.min.js' %}" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% if DEBUG %}
<script src="{% static 'js/vendor/vue3_3_4.global.min.js' %}" integrity="sha512-Wbf9QOX8TxnLykSrNGmAc5mDntbpyXjOw9zgnKql3DgQ7Iyr5TCSPWpvpwDuo+jikYoSNMD9tRRH854VfPpL9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% else %}
<script src="{% static 'js/vendor/vue3_3_4.global.prod.min.js' %}" integrity="sha512-39BSQXI5q1XlvVhLfFRidKG8KM6Tr6VS/XSnNo6N/A0ZXexHCeoUI/s+ulujQy3UREjoLNrMnFat8VI0mMugWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endif %}

<script src="{% static 'js/vendor/sweetalert2_11_7_12.all.min.js' %}" integrity="sha512-J8fMSsNsuWKj3xd1PRJ7M328sNj4jzUm2uYFI/spmO29rvGJvjsYXBTCun7OFCaRMeDowiEFGdXrkbBlCL5myw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'js/vendor/moment_2_29_4.min.js' %}"></script>
<script src="{% static 'js/vendor/chartjs-adapter-moment_1_0_1.min.js' %}"></script>

<script src="{% static 'js/vendor/popperjs_core_2_11_8_dist_umd_popper.min.js' %}"></script>
<script src="{% static 'js/vendor/tippy-bundle_6_3_7.umd.min.js' %}"></script>

<script>
    var currentSlot = {{ current_slot }};
</script>

{% block script %}{% endblock %}

<script>
    const installApp = document.getElementById('installApp');

    installApp.addEventListener('click', async () => {
        if (deferredPrompt !== null) {
            deferredPrompt.prompt();
            const { outcome } = await deferredPrompt.userChoice;
            if (outcome === 'accepted') {
                deferredPrompt = null;
            }
        }
        else {
            console.log("deferredPrompt is null")
        }
    });
</script>

<script>
    var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

    $(document).ready(function() {
        var inputField = $('#main-search-autocomplete');
        var resultList = $('#autoComplete_list_1');
    
        inputField.on('input', function() {
        var query = inputField.val();
        console.log(query)
        if (query.length >= 1) {
            $.ajax({
            url: '/search-results/',
            data: {
                query: query
            },
            success: function(response) {
                displayResults(response.results);
                resultList.removeAttr('hidden');
                resultList.fadeIn(500);
            }
            });
        } else {
            clearResults();
        }
        });


        window.addEventListener('click', function(e){   
            if (!document.getElementById('search-group').contains(e.target)){
                resultList.hide();
            }
        });
    
        function displayResults(results) {
        resultList.empty();
        if (results.length > 0) {
            $.each(results, function(index, result) {
                var listItem = $('<li role="option" tabindex="0"></li>');
                var link = $('<a></a>').attr('href', result.url).text(result.type + ": " + result.text);
                listItem.append(link);
                resultList.append(listItem);
            });
            resultList.show();
        } else {
            resultList.hide();
        }
        }
    
        function clearResults() {
            resultList.empty();
            resultList.hide();
        }
    });

    $(document).ready(function() {
        $("#navbar-toggler").click(function() {
            $(".sidebar").toggleClass("show");
            $("#search-group").toggleClass("show");
            $("#navbarSupportedContent").toggleClass("show");
        });
    });

    $(document).ready(function() {
        $("#search-toggler").click(function() {
            $(".sidebar").toggleClass("show");
            $("#search-group").toggleClass("show");
            $("#navbarSupportedContent").toggleClass("show");
        });
    });
</script>

<script>
    function signout_user(){
        Swal.fire({
          title: 'Are you sure?',
          text: "Do you really want to logout?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#0284c7',
          customClass: {
            confirmButton: 'swal-delete-button',
          },
          showCloseButton: true,
          confirmButtonText: 'Yes, logout!'
        }).then((result) => {
          if (result.isConfirmed) {
                axios({
                    url: "{% url 'account_logout' %}",
                    method: 'post',
                    data: {},
                    dataType: 'json',
                    contentType: "application/json",
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                })
                .then(function (data) {
                    location.reload();
                })
                .catch(function (error) {
                })
            }
        });
    }
    </script>
</body>
</html>