{% extends "frontend/base.html" %}
{% load custom_filters %}

{% block meta_title_twitter %}{% block meta_title %}{% block title %}{% endblock %}{% endblock %}{% endblock %}

{% block content %}
<div class='dashboard-container' id="app">
  {% include 'frontend/sidebar.html' %}
  <div class="row m-0">
    <div class="row m-0 mt-70 mt-xxl-0"><div class="col-md-12" style="padding: 0;">
        <div class="container mt-5 pl-1 pr-1 mb-2" style="max-width:100%;">
          <div class="row ml-0 mr-0">
            <div class="col-12" style="text-align: center;">
              <h2 class="text-light-main">{{ currency_name_full }} Staking Monitoring and Beacon Chain Explorer</h2>
              <p class="lead text-muted" style="font-size:100%">Your Free and Open-Source Window into the World of Staking and Blockchain Exploration.<br/>No Tracking, No Ads, No Google Analytics - Your Privacy Matters.</p>
            </div>
          </div>
        </div>
        <div style="
        margin:  0 auto;
        margin-top: 70px;
        margin-bottom: 30px;
        display: block;" class="landing-main-image">
        <img src="/static/img/pug_main_page.png" alt="EthStakers.Club Mascot" style="width:80%;margin:0 auto;display: block;" >
<a type="button" href="{% url 'account_signup' %}" style="background-color: #52628a;background-color: rgb(82, 98, 138);
margin: 0 auto;
display: block;
margin-bottom: 60px;
padding: 14px;
font-size: 110%;
line-break: auto;
white-space: break-spaces;" class="btn btn-primary text-white mt-4">Sign up to monitor up to {{ validator_monitoring_limit_max|commaSeparatorNumber }} validators</a>
        </div>

      <div class="row" style="margin: 0;background-color: #151e33;margin-bottom: 12px;">
        
        <div class="key-metrics landing-key-metrics col-6 col-md-3">
          <div class="small">Validators Activation Queue</div>{{ pending_validators|commaSeparatorNumber }}
        </div>

        <div class="key-metrics landing-key-metrics col-6 col-md-3">
          <div class="small">Approximate time to finish activation queue</div>{{ finish_activation_queue_time }}
        </div>
    
        <div class="key-metrics landing-key-metrics col-6 col-md-3">
          <div class="small">Validators Exiting Queue</div>{{ exiting_validators|commaSeparatorNumber }}
        </div>

        <div class="key-metrics landing-key-metrics col-6 col-md-3">
          <div class="small">Approximate time to finish exit queue</div>{{ finish_exit_queue_time }}
        </div>

      </div>
    </div>
  </div>
</div>


  <div class="m-0">
    <div class="linechart-element mt-1">
      <canvas id="linechart"></canvas>
    </div>
  </div>


  <div class="row mx-0 pt-2" style="background: #111a2e;">

    <div class="col-12 col-md-6 p-0 d-flex flex-column" style="background: #151e33;height:100%">
        <div class="stats-element">
          <div class="element-header">Most Recent Epochs</div>
          <div>
            <table-component :data="epochsJsonData" :columns="epochsTableColumns" :rows-per-page-options="[15]"
            :item-count="15" :api-endpoint="'/api/epochs'" :allow-sort="false" :key-prop="'epoch'"
            :fetch-property="'epoch'" :fetch-strategy="'slot_range'" :show-pagination="false" :live-update="true" />
          </div>
        </div>
      </div>

    <div class="col-12 col-md-6 p-0 d-flex flex-column" style="background: #151e33;height:100%">
      <div class="stats-element">
        <div>
          <table-component :data="blocksJsonData" :columns="blocksTableColumns" :rows-per-page-options="[15]"
          :item-count="15" :api-endpoint="'/api/blocks'" :allow-sort="false" :key-prop="'slot_number'"
          :fetch-strategy="'slot_range'" :fetch-property="'slot_number'" :show-pagination="false" :live-update="true"
          :query-parameters="[{omit_pending: true }]" :title="'Most Recent Slots'" />
        </div>
      </div>
    </div>

  </div>

  <div class='element-header social'></div>
  {% include 'frontend/footer.html' %}
</div>

{% endblock %}

{% block script %}
{% include 'frontend/vue_table.html' %}
<script>
  const App = {
    data() {
      return {
        rowsPerPage: [50],
        blocksJsonData: [],
        blocksTableColumns: [
          { key: 'slot_number', label: 'Slot',
            renderFunction: (value, item) => {
                return formatNumber(value);
            },
            link: (value, item) => {
              return '/slot/' + item.slot_number;
            },
          },
          { key: 'epoch', label: 'Epoch',
            renderFunction: (value, item) => {
                return formatNumber(value);
            },
            link: (value, item) => {
                return '/epoch/' + value;
            },
          },
          { key: 'block_number', label: 'Block Number',
            renderFunction: (value, item) => {
                return formatNumber(value);
            },
          },
          { key: 'proposer', label: 'Proposer' },
          { key: 'total_reward', label: 'Total Reward',
            renderFunction: (value, item) => {
              return "+" + value.toFixed(5) + " {{ currency_name }}";
            },
          },
          { key: 'empty', label: 'Status',
            renderFunction: (value, item) => {
              if(value == 0)
                return "Proposed";
              else if(value == 1)
                return "Not Proposed";
              else if(value == 2)
                return "Orphaned";
              else if(value == 3)
                return "Pending";
            },
            renderClass: (value, item) => {
              return {
                'status-label rounded-pill px-2 text-nowrap': true,
                'bg-success': value == 0,
                'bg-danger': value == 1,
                'bg-warning': value == 2,
                'bg-primary': value == 3,
              };
            },
          },
          { key: 'timestamp', label: 'Time',
            renderFunction: (value, item) => {
              return calculateTimeDifference(value)
            },
          },
        ],
        epochsJsonData: [],
        epochsTableColumns: [
          { key: 'epoch', label: 'Epoch',
            renderFunction: (value, item) => {
                return formatNumber(value);
            },
            link: (value, item) => {
                return '/epoch/' + value;
            },
          },
          { key: 'timestamp', label: 'Time',
            renderFunction: (value, item) => {
              return calculateTimeDifference(value)
            },
          },
          { key: 'total_attestations', label: 'Missed Attestations',
            renderFunction: (value, item) => {
                return String(item.missed_attestation_count) + "/" + String(value);
            },
          },
          { key: 'average_block_reward', label: 'Average Block Reward',
            renderFunction: (value, item) => {
              return "+" + value.toFixed(5) + " {{ currency_name }}";
            },
          },
          { key: 'epoch', label: 'Finalized',
            renderFunction: (value, item) => {
              return value <= {{ finalized_epoch }} ? "Yes" : "No";
            },
            renderClass: (value, item) => {
              return {
                'status-label rounded-pill px-2 text-nowrap': true,
                'bg-success': value <= {{ finalized_epoch }},
                'bg-warning': value > {{ finalized_epoch }},
              };
            },
          },
          { key: 'participation_percent', label: 'Voted',
            renderFunction: (value, item) => {
                return value.toFixed(2) + "%";
            },
          },
        ],
      };
    },
    mounted() {
      this.blocksJsonData = JSON.parse('[]');
      this.epochsJsonData = JSON.parse('[]');
    },
  }
  const app = Vue.createApp(App);
  app.directive('tippy', {
    mounted(el, binding) {
      const content = binding.value;
      if(content != '' && content != null)
        tippy(el, {
          content: content,
        });
    },
  });
  app.component("table-component", tableComponent);
  app.mount("#app");




  Chart.defaults.borderColor = '#ffffff07';
  Chart.defaults.color = '#ddd';
  var ctx = document.getElementById("linechart").getContext("2d");
  
  const data = {
    labels: [],
    datasets: [
      {
        label: 'Active Validators',
        data: [],
        tension: 0.4,
        type: 'line',
        yAxisID: 'y2',
        borderWidth: 1.5,
      },
      {
        label: 'Exited Validators',
        data: [],
        tension: 0.4,
        type: 'line',
        yAxisID: 'y2',
        borderWidth: 1.5,
      },
      {
        label: 'Pending Validators',
        data: [],
        tension: 0.4,
        type: 'line',
        yAxisID: 'y2',
        borderWidth: 1.5,
      },
      {
        label: 'Exiting Validators',
        data: [],
        tension: 0.4,
        type: 'line',
        yAxisID: 'y2',
        borderWidth: 1.5,
      },
    ]
  };
  
  const dataList = JSON.parse('{{ validators_chart_data | safe }}');
  
  dataList.forEach(item => {
    data.labels.push(item.hour);
    data.datasets[0].data.push(parseFloat(item.average_active_validators));
    data.datasets[1].data.push(parseFloat(item.average_exited_validators));
    data.datasets[2].data.push(parseFloat(item.average_pending_validators));
    data.datasets[3].data.push(parseFloat(item.average_exiting_validators));
  });
  
  var validatorLineChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
      plugins: {
        title: {
          display: false
        },
        tooltip: {
          mode: 'index',
          intersect: false,
          callbacks: {
            label: function(context) {
              let label = context.dataset.label || '';
  
              if (label) {
                  label += ': ';
              }
              if (context.parsed.y !== null) {
                label += parseInt(context.parsed.y);
              }
              return label;
            }
          }
        }
      },
      radius: 0,
      clip: false,
      hover: {
        mode: 'index',
        intersect: false,
      },
      elements: {
        bar: {
          borderWidth: 2,
        }
      },
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          stacked: true,
          type: 'timeseries',
          time: {
            unit: 'day',
            displayFormat: { 'day': "YYYY-MM-DD HH:mm" }
          },
        },
        y2: {
          type: 'linear',
          position: 'right',
          ticks: {
          },
          grid: {
            drawOnChartArea: false
          },
        },
      }
    }
  });
</script>
{% endblock %}