{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Dashboard - Attestation Live Minitoring - {% endblock %}

{% block head %}
{% if validator_count <= 300 %}
<style>
  .dark-theme table.table th,
  .dark-theme table.table td {
    border: none;
    padding: 2px;
    font-size:80%;
    padding-left: 5px;
  }
</style>
{% endif %}
{% endblock %}

{% block content %}
<div class='dashboard-container' id="app">
  {% include 'frontend/sidebar.html' with current_page='attestation_live_monitoring' %}
  {% if user.is_authenticated %}
  <div class="m-0">
    <div class="linechart-element mt-6">
      <canvas id="linechart"></canvas>
    </div>
  </div>
  <div class="row mx-0 pt-2" style="background: #111a2e;">
    <div class="col-md-12 p-0 d-flex flex-column" style="background: #151e33;height:100%">
      <div class="stats-element">
        <div>
          <table-component :data="attestationsJsonData" :columns="attestationsTableColumns"
           :allow-sort="false" :key-prop="'slot'" :live-update="true" :title="'Attestation Live Monitoring'"
           {% if validator_count <= 300 %}
           :rows-per-page-options="[{% if validator_count <= 1 %}5{% elif validator_count <= 2 %}10{% elif validator_count <= 3 %}15{% elif validator_count <= 4 %}20{% elif validator_count <= 5 %}25{% elif validator_count <= 6 %}30{% elif validator_count <= 7 %}35{% elif validator_count <= 8 %}40{% elif validator_count <= 9 %}{% else %}50{% endif %}]"
           :item-count="{{ total_attestations }}" :api-endpoint="'/api/attestations'" :key-prop2="'validator_id'"
           :slot-range="{% if validator_count == 1 %}320{% elif validator_count < 3 %}160{% elif validator_count < 6 %}80{% elif validator_count < 11 %}40{% else %}32{% endif %}"
           {% else %}
           :item-count="{{ slots_since_first_online }}" :api-endpoint="'/api/attestations_for_slots'" :slot-range="10" :rows-per-page-options="[10]"
           {% endif %}
           />
        </div>
      </div>
    </div>
  </div>

  <div class='element-header social'></div>
  {% else %}
  <div class="text-center mt-6">
    <div>
      <img src="{% static 'img/pug1.png' %}" style="max-width: 400px; margin: 0 auto;width:50%;">
      <br>
        <div>
          <a type="button" href="{% url 'account_signup' %}" style="background-color: #52628a;" class="btn btn-primary text-white">Sign up to monitor your validators here</a>
          <br><br><span style="color: #ffffffa1;">or</span><br>
          <a type="button" href="{% url 'account_login' %}" style="background-color: #52628a;" class="btn btn-primary text-white">Login</a>
        </div>
    </div>
  </div>
  {% endif %}
  {% include 'frontend/footer.html' %}
</div>

{% endblock %}

{% block script %}
{% include 'frontend/vue_table.html' %}
<script>
  const App = {
    data() {
      return {
        rowsPerPage: [50],
        attestationsJsonData: [],
        {% if validator_count <= 300 %}
        attestationsTableColumns: [
          { key: 'epoch', label: 'Epoch',
            renderFunction: (value, item) => {
              return value.toLocaleString().replace(/\./g, ',')
            },
            link: (value, item) => {
              return '/epoch/' + value;
            },
          },
          { key: 'slot', label: 'Slot',
            renderFunction: (value, item) => {
              return value.toLocaleString().replace(/\./g, ',')
            },
            link: (value, item) => {
              return '/slot/' + value;
            },
          },
          { key: 'block_timestamp', label: 'Time',
            renderFunction: (value, item) => {
              return calculateTimeDifference(value)
            },
          },
          { key: 'validator_id', label: 'Validator ID',
            link: (value, item) => {
              return '/validator/' + value;
            },
          },
          { key: 'distance', label: 'Distance',
            renderFunction: (value, item) => {
              return value != 255 ? value : '-'
            },
          },
          { key: 'status', label: 'Status',
            renderFunction: (value, item) => {
              const slotDifference = currentSlot- item.slot;
              return item.distance == 255 ? slotDifference > 16 ? 'Missed' : 'Scheduled' : 'Attested'
            },
            renderClass: (value, item) => {
              const slotDifference = currentSlot- item.slot;
              return {
                'status-label rounded-pill px-2': true,
                'bg-danger': item.distance === 255 && slotDifference > 16,
                'bg-primary': item.distance === 255 && slotDifference <= 16,
                'bg-success': item.distance !== 255,
              };
            },
          },
        ],
        {% else %}
        attestationsTableColumns: [
          { key: 'epoch', label: 'Epoch',
            renderFunction: (value, item) => {
              return value.toLocaleString().replace(/\./g, ',')
            },
            link: (value, item) => {
              return '/epoch/' + value;
            },
          },
          { key: 'slot', label: 'Slot',
            renderFunction: (value, item) => {
              return value.toLocaleString().replace(/\./g, ',')
            },
            link: (value, item) => {
              return '/slot/' + value;
            },
          },
          { key: 'block_timestamp', label: 'Time',
            renderFunction: (value, item) => {
              return calculateTimeDifference(value)
            },
          },
          { key: 'distance', label: 'Distance',
            renderFunction: (value, item) => {
              const slotDifference = currentSlot- item.slot;
                            
              let missed_attestation_string = "m";
              if (slotDifference <= 20)
                missed_attestation_string = "-"

              return value.map((value, index) => {
                if (value === 255)
                  return item.validator_id[index];
                else
                  return `${item.validator_id[index]}[${value}]`;
              }).join(", ");
            },
          },
          { key: 'distance', label: 'Avg. Distance',
            renderFunction: (value, item) => {
              let sum = value.map(value => value === 255 ? 32 : value).reduce((acc, val) => acc + val, 0);

              const countMissed = value.filter(val => val === 255).length;
              
              let averageDistance = "-";
              if(countMissed !== value.length){
                averageDistance = sum / value.length;
                
                if (averageDistance % 1 !== 0) {
                  averageDistance = averageDistance.toFixed(2);
                }
              }
              
              if(value.length > 0)
                return averageDistance
              else
                return "no attestation"
            },
            tooltipFunction: (value, item) => {
              const slotDifference = currentSlot- item.slot;

              let missed_attestation_string = "missed";
              if(slotDifference <= 20)
                missed_attestation_string = "pending"

              return value.map(value => value === 255 ? missed_attestation_string : value).join(", ")
            },
          },
          { key: 'distance', label: 'Attestet',
            renderFunction: (value, item) => {
              console.log(item)
              const missed_count = value.filter(val => val === 255).length;
              return (value.length - missed_count) + "/" + value.length
            },
            renderClass: (value, item) => {
              const slotDifference = currentSlot- item.slot;
              const countMissed = value.filter(val => val === 255).length;

              percentAttestet = (value.length - countMissed) / value.length * 100
              return {
                'status-label rounded-pill px-2 text-nowrap': true,
                'bg-danger': percentAttestet < 80 && slotDifference > 5,
                'bg-warning': percentAttestet < 95 && percentAttestet >= 80 && slotDifference > 5,
                'bg-primary': slotDifference <= 5 && percentAttestet < 95,
                'bg-success': percentAttestet >= 95,
              };
            },
          },
        ],
        {% endif %}
      };
    },
    mounted() {
      this.attestationsJsonData = JSON.parse('[]');
    },
  }
  const app = Vue.createApp(App);
  app.directive('tippy', {
    mounted(el, binding) {
      const content = binding.value;
      if(content != '' && content != null)
        tippy(el, {
          content: content,
        });
    },
  });
  app.component("table-component", tableComponent);
  app.mount("#app");



Chart.defaults.borderColor = '#ffffff07';
Chart.defaults.color = '#ddd';
var ctx = document.getElementById("linechart").getContext("2d");
var gradient = ctx.createLinearGradient(0, 0, 0, 400);
gradient.addColorStop(1, 'green');
gradient.addColorStop(0, 'orange');

const data = {
  labels: [],
  datasets: [
    {
      label: 'Missed Attestations',
      data: [],
      borderColor: function(context) {
        var index = context.dataIndex;
        var value = context.dataset.data[index];
        var max = Math.max(...context.dataset.data);
        var color = gradient;

        if (value === max) {
          color = 'orange';
        }
        
        return color;
      },
      tension: 0.4,
      type: 'line',
      yAxisID: 'y2',
      borderWidth: 1.5,
    },
  ]
};

const dataList = JSON.parse('{{ chart_data | safe }}');

dataList.forEach(item => {
  data.labels.push(item.date);
  data.datasets[0].data.push(parseInt(item.missed_attestations_change)); // Missed attestation data
});

var attestationLineChart = new Chart(ctx, {
  type: 'bar',
  data: data,
  options: {
    plugins: {
      title: {
        display: false
      },
      tooltip: {
        mode: 'index',
        intersect: false,
        callbacks: {
          label: function(context) {
            let label = context.dataset.label || '';

            if (label) {
                label += ': ';
            }
            if (context.parsed.y !== null) {
                if(context.dataset.yAxisID != "y2")
                  label += context.parsed.y.toFixed(6);
                else
                  label += context.parsed.y;
            }
            return label;
          }
        }
      }
    },
    radius: 0,
    clip: false,
    hover: {
      mode: 'index',
      intersect: false,
    },
    elements: {
      bar: {
        borderWidth: 2,
      }
    },
    responsive: true,
    maintainAspectRatio: false,
    scales: {
      x: {
        stacked: true,
      },
      y2: {
        type: 'linear',
        position: 'right',
        ticks: {
        },
        grid: {
          drawOnChartArea: false
        },
      }
    }
  }
});
</script>
{% endblock %}