<div class='sidebar'>
    <a href="{% url 'dashboard_empty' %}" class='navigation-elm {% if current_page == "dashboard" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fa fa-fw fa-area-chart"></i><span class='text-short'>Dashboard</span></span>
    </a>
    <a href="{% url 'attestation_live_monitoring_empty' %}" class='sub-navigation-elm {% if current_page == "attestation_live_monitoring" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fas fa-fw fa-file-signature"></i>Attestation Live Monitoring</span>
    </a>
    <a href="{% url 'sync_live_monitoring_empty' %}" class='sub-navigation-elm {% if current_page == "sync_live_monitoring" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fas fa-fw fa-file-signature"></i>Sync Duty Live Monitoring</span>
    </a>
    <a href="{% url 'show_clients' %}" class='sub-navigation-elm {% if current_page == "clients" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fas fa-fw fa-hdd"></i>Clients</span>
    </a>
    <a href="{% url 'show_slots' %}" class='navigation-elm {% if current_page == "slots" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fas fa-fw fa-layer-group"></i><span class='text-short'>Slots</span></span>
    </a>
    <a href="{% url 'show_epochs' %}" class='navigation-elm {% if current_page == "epochs" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fas fa-fw fa-shield-alt"></i><span class='text-short'>Epochs</span></span>
    </a>
    <a href="{% url 'show_validators' %}" class='navigation-elm {% if current_page == "validators" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fas fa-fw fa-hdd"></i><span class='text-short'>Validators</span></span>
    </a>
    <a href="{% url 'settings' %}" class='navigation-elm {% if current_page == "settings" %}navigation-elm-active{% endif %}'><span class='nav-text'><i class="fa fa-fw fa-gear"></i><span class='text-short'>Settings</span></span>
    </a>
    <a id="installApp" class='hidden navigation-elm' style="border-top:1px solid #232b3d;margin-top:15px;"><span class='nav-text'><i class="fa fa-fw fa-plus-square"></i><span class='text-short'>Install for Quick Access</span></span>
    </a>
    {% if not user.is_authenticated %}
    <div style="text-align: center;margin: 20px;">
        <a href="{% url 'account_signup' %}" style="background: #52628a;padding: 10px;width: 100%;display: inline-block;border-radius: 50px;cursor: pointer;border-bottom:none;">
            Signup
        </a>
    </div>
    {% else %}
    <div class="w-auto relative" id="logout_area" style="flex: 1;vertical-align: bottom;display: flex;flex-direction: column-reverse;">
        <div class="w-100" style="align-self: self-end;">
            <button onclick="$('#logout_box').toggle()" class="w-100 btn text-white logout-button">
                <div><span>Logout</span></div>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-chevron-down ml-auto">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>


            <div style="display:none" id="logout_box" class="pl-3 pr-3 mb-3">
                <button class="w-100 p-3 btn text-white rounded-pill" style="background-color: #22293f;" onclick="signout_user()"> Log Out {{ request.user.email }}</button>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class='menu-overlay d-xl-none'>
</div>