{% extends "frontend/base.html" %}
{% load static %}

{% block title %}Dashboard - Sync Live Minitoring - {% endblock %}

{% block head %}
<style>
  .dark-theme table.table th,
  .dark-theme table.table td {
    border: none;
    padding: 2px;
    font-size:80%;
    padding-left: 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class='dashboard-container' id="app">
  {% include 'frontend/sidebar.html' with current_page='sync_live_monitoring' %}
  {% if user.is_authenticated %}
  <div class="m-0">
    <div class="linechart-element mt-6">
      <canvas id="linechart"></canvas>
    </div>
  </div>
  <div class="row mx-0 pt-2 mt-1" style="background: #111a2e;">
    <div class="col-md-12 p-0 d-flex flex-column" style="background: #151e33;height:100%">
      <div class="stats-element">
        <div>
            <table-component :data="dashboardSyncCommitteeParticipationsJsonData" :columns="dashboardSyncCommitteeParticipationsTableColumns"
            :key-prop="'slot'" :allow-sort="false" fetch-strategy="slot_range" :api-endpoint="'/api/sync_committee_participation'"
            :item-count="{{ sync_duty_count }}" :rows-per-page-options="[50]" :live-update="true" :title="'Sync-Committee - Live Monitoring'"
            :query-parameters="[{include_pending: true }]" />
        </div>
      </div>
    </div>
  </div>

  <div class='element-header social'></div>
  {% else %}
  <div class="text-center mt-6">
    <div>
      <img src="{% static 'img/pug1.png' %}" style="max-width: 400px; margin: 0 auto;width:50%;">
      <br>
        <div>
          <a type="button" href="{% url 'account_signup' %}" style="background-color: #52628a;" class="btn btn-primary text-white">Sign up to monitor your validators here</a>
          <br><br><span style="color: #ffffffa1;">or</span><br>
          <a type="button" href="{% url 'account_login' %}" style="background-color: #52628a;" class="btn btn-primary text-white">Login</a>
        </div>
    </div>
  </div>
  {% endif %}
  {% include 'frontend/footer.html' %}
</div>

{% endblock %}

{% block script %}
{% include 'frontend/vue_table.html' %}
<script>
  const App = {
    data() {
      return {
        rowsPerPage: [50],
        dashboardSyncCommitteeParticipationsJsonData: [],
        dashboardSyncCommitteeParticipationsTableColumns: [
          { key: 'period', label: 'Period' },
          { key: 'epoch', label: 'Epoch',
            renderFunction: (value, item) => {
              return value.toLocaleString().replace(/\./g, ',')
            },
            link: (value, item) => {
              return '/epoch/' + value;
            },
          },
          { key: 'slot', label: 'Slot',
            renderFunction: (value, item) => {
              return value.toLocaleString().replace(/\./g, ',')
            },
            link: (value, item) => {
              return '/slot/' + value;
            },
          },
          { key: 'validator_id', label: 'Validator ID',
            renderFunction: (value, item) => {
              return value.join(', ');
            },
            link: (value, item) => {
              return '/validator/' + value.join(',');
            },
          },
          { key: 'block_timestamp', label: 'Time',
            renderFunction: (value, item) => {
              return calculateTimeDifference(value)
            },
          },
          { key: 'participated', label: 'Participated',
            renderFunction: (value, item) => {
              if(value == "pending")
                return "Pending"
              else if(value == "no_block_proposed")
                return "No Block Proposed"
              else if(value.length == 1)
                return value[0] == 1 ? "Participated" : "Missed"
              else if(value.length > 1){
                if (value.every((element) => element === 1)) {
                  return "Participated [" + value.join(", ") + "]";
                }
                else if (value.every((element) => element === 0)) {
                  return "Missed [" + value.join(", ") + "]";
                }
                else if (value.length > 1) {
                  return "Partial [" + value.join(", ") + "]";
                }
                return value
              }
            },
            renderClass: (value, item) => {
              let labelColor = "";
              if(value == "pending")
                labelColor = "pending"
              else if(value == "no_block_proposed")
                labelColor = "no_block_proposed"
              else if(value.length == 1)
                labelColor = value[0] == 1 ? "participated" : "missed"
              else if(value.length > 1){
                if (value.every((element) => element === 1)) {
                  labelColor = "participated"
                }
                else if (value.every((element) => element === 0)) {
                  labelColor = "missed"
                }
                else if (value.length > 1) {
                  labelColor = "missed_partial"
                }
              }
              return {
                'status-label rounded-pill px-2 text-nowrap': true,
                'bg-success': labelColor == "participated",
                'bg-danger': labelColor == "missed",
                'bg-danger-2': labelColor == "missed_partial",
                'bg-warning': labelColor == "no_block_proposed",
                'bg-primary': labelColor == "pending",
              };
            },
          },
          { key: 'participation', label: 'Participation',
            renderFunction: (value, item) => {
              return value + "/512"
            },
          },
        ],
      };
    },
    mounted() {
      this.dashboardSyncCommitteeParticipationsJsonData = JSON.parse('[]');
    },
  }
  const app = Vue.createApp(App);
  app.directive('tippy', {
    mounted(el, binding) {
      const content = binding.value;
      if(content != '' && content != null)
        tippy(el, {
          content: content,
        });
    },
  });
  app.component("table-component", tableComponent);
  app.mount("#app");



  Chart.defaults.borderColor = '#ffffff07';
  Chart.defaults.color = '#ddd';
  var ctx = document.getElementById("linechart").getContext("2d");
  var gradient = ctx.createLinearGradient(0, 0, 0, 400);
  gradient.addColorStop(1, 'green');
  gradient.addColorStop(0, 'orange');
  
  const data = {
    labels: [],
    datasets: [
      {
        label: 'Missed Sync Duties',
        data: [],
        borderColor: function(context) {
          var index = context.dataIndex;
          var value = context.dataset.data[index];
          var max = Math.max(...context.dataset.data);
          var color = gradient;
  
          if (value === max) {
            color = 'orange';
          }
          
          return color;
        },
        tension: 0.4,
        type: 'line',
        yAxisID: 'y2',
        borderWidth: 1.5,
      },
    ]
  };
  
  const dataList = JSON.parse('{{ chart_data | safe }}');
  
  dataList.forEach(item => {
    data.labels.push(item.date);
    data.datasets[0].data.push(parseInt(item.missed_sync_change)); // Missed sync data
  });
  
  var attestationLineChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: {
      plugins: {
        title: {
          display: false
        },
        tooltip: {
          mode: 'index',
          intersect: false,
          callbacks: {
            label: function(context) {
              let label = context.dataset.label || '';
  
              if (label) {
                  label += ': ';
              }
              if (context.parsed.y !== null) {
                  if(context.dataset.yAxisID != "y2")
                    label += context.parsed.y.toFixed(6);
                  else
                    label += context.parsed.y;
              }
              return label;
            }
          }
        }
      },
      radius: 0,
      clip: false,
      hover: {
        mode: 'index',
        intersect: false,
      },
      elements: {
        bar: {
          borderWidth: 2,
        }
      },
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: {
          stacked: true,
        },
        y2: {
          type: 'linear',
          position: 'right',
          ticks: {
          },
          grid: {
            drawOnChartArea: false
          },
        }
      }
    }
  });
</script>
{% endblock %}