{% load static %}

{% verbatim %}
<template id="table-component">
  <div class="table-container dark-theme mt-0 ml-2 mr-2">
    <table class="table table-dark mb-0">
      <thead>
        <tr>
          <th v-for="column in columns" :key="column.key" @click="sortTable(column.key)">
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in paginatedData" :key="item.epoch">
          <td v-for="column in columns" :key="column.key">
            <span :class="renderClass(item, column)" @click="onClickFunction(item, column)">
              {{ renderColumnValue(item, column) }}
            </span>
          </td>
        </tr>
        <tr v-if="data.length == 0" style="text-align: center;
            color: #ccc;
            font-style: italic;
            padding-bottom: 10px;
            padding-bottom: 0px;">
            <td colspan="10" class="empty-table-message" style="text-align: center;color: #ccc;font-style: italic;padding: 10px;/*! display: flex; *//*! flex-direction: column; *//*! align-items: center; *//*! justify-content: center; */padding-bottom: 0px;">
                {% endverbatim %}
                {% comment %}
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="12"></line>
                <line x1="12" y1="16" x2="12" y2="16"></line>
                </svg>
                {% endcomment %}
                <img :src="emptyimage" width="156" height="156">
                {% verbatim %}
                <p>{{ emptytext }}</p>
            </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination-container">
      <div class="pagination-info">
        <div v-if="rowsPerPageOptions.length > 1" class="pagination-dropdown">
          <label for="rowsPerPage" class="mb-0">Rows per page:</label>
          <select id="rowsPerPage" v-model="itemsPerPage">
            <option v-for="option in rowsPerPageOptions" :value="option" :key="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="pagination-count">
          {{ paginationCount }}
        </div>
        <div class="pagination-controls">
          <button class="pagination-button" :disabled="currentPage === 1" @click="goToPage(currentPage - 1)">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="pagination-button" :disabled="currentPage === totalPages" @click="goToPage(currentPage + 1)">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
{% endverbatim %}

<script>
    const tableComponent = {
        template: '#table-component',
        props: {
            data: {
            type: Array,
            required: true,
            },
            columns: {
            type: Array,
            required: true,
            },
            rowsPerPageOptions: {
            type: Array,
            default: () => [5, 10, 20],
            },
            emptytext: {
            type: String,
            default: () => "Nothing but a pug here yet.",
            },
            emptyimage: {
            type: String,
            default: () => "{% static 'img/pug1.png' %}",
            },
        },
        data() {
            const defaultItemsPerPage = this.rowsPerPageOptions[0] || 5;
            return {
            sortKey: '',
            sortOrder: 1,
            currentPage: 1,
            itemsPerPage: defaultItemsPerPage,
            };
        },
        computed: {
            sortedData() {
            const data = [...this.data]; // Create a copy of the data

            if (this.sortKey) {
                data.sort((a, b) => {
                const valueA = a[this.sortKey];
                const valueB = b[this.sortKey];
                return (valueA - valueB) * this.sortOrder;
                });
            }

            return data;
            },
            paginatedData() {
            const startIndex = (this.currentPage - 1) * this.itemsPerPage;
            const endIndex = startIndex + this.itemsPerPage;
            return this.sortedData.slice(startIndex, endIndex);
            },
            totalPages() {
            return Math.ceil(this.sortedData.length / this.itemsPerPage);
            },
            paginationCount() {
            const startIndex = (this.currentPage - 1) * this.itemsPerPage + 1;
            const endIndex = Math.min(this.currentPage * this.itemsPerPage, this.sortedData.length);
            return `${startIndex}-${endIndex} of ${this.sortedData.length}`;
            },
        },
        methods: {
            sortTable(key) {
            if (this.sortKey === key) {
                this.sortOrder *= -1;
            }
            else {
                this.sortKey = key;
                this.sortOrder = 1;
            }
            },
            goToPage(pageNumber) {
            this.currentPage = pageNumber;
            },
            getColumnValue(item, key) {
            if (item.hasOwnProperty(key)) {
                return item[key];
            }
            return '-';
            },
            renderColumnValue(item, column) {
            if (typeof column.renderFunction === 'function') {
                return column.renderFunction(this.getColumnValue(item, column.key), item);
            }
            return this.getColumnValue(item, column.key);
            },
            renderClass(item, column) {
            if (typeof column.renderClass === 'function') {
                return column.renderClass(this.getColumnValue(item, column.key), item);
            }
            return "";
            },
            onClickFunction(item, column) {
            if (typeof column.onClickFunction === 'function') {
                return column.onClickFunction(this.getColumnValue(item, column.key), item);
            }
            return "";
            },
        },
    };
</script>